* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  border: 1px solid blue;
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  /* background: color image repeat position/size 
  background: url(./assets/bg-mobile.jpg) no-repeat top center / cover;
  */
}

body * {
  font-family: "Inter", sans-serif;
  color: white;
}

#container {
  border: 1px solid white;
  width: 360px;
  margin: 56px auto 0px;
}

#profile {
  border: 1px solid aqua;
  text-align: center;
  padding: 24px;
}
/*
#teste {
  display: block;
  font-weight: 500px;
  line-height: 24px;
  margin-top: 8px;
}
*/
#profile img {
  border: 1px solid red;
  width: 112px;
}

#profile p {
  border: 1px solid red;
  font-weight: 500px;
  line-height: 24px;
  margin-top: 8px;
}

ul {
  border: 1px solid greenyellow;
  list-style-image: url("./assets/dagger_100.gif");
  list-style-position: inside;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

ul li {
  border: 1px solid red;
}
